* {
    font-family: courier;
}

h1 {
    text-align: center;
}

#stage {
    width: 704px;
    margin: 20px auto;
}

.player {
    width: 352px;
    float: left;
}

.player .score {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.hand-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.hand-map {
    width: 350px;
    height: 350px;
}
