<h1>
    {{title}}
</h1>

<section id="stage">
    <div id="user" class="player">
        <div class="score">{{playerScore}}</div>
        <div class="hands">
            <hand-selector
                [onSelect]="onSelect.bind(this)"
                [startGame]="startGame.bind(this)">
            </hand-selector>
        </div>
        <div class="hand-title">{{playerHand || "Choose a hand!"}}</div>
    </div>
    <div id="sheldon" class="player">
        <div class="score">{{sheldonScore}}</div>
        <sheldon [state]="sheldonState"></sheldon>
        <div class="hand-title">{{sheldonHand || "Sheldon"}}</div>
    </div>
</section>

<p class="how-to">Click on the image on the left to start a round.</p>

<p class="quote">It's very simple. Scissors cuts paper, paper covers rock,
    rock crushes lizard, lizard poisons Spock, Spock smashes scissors, scissors
    decapitates lizard, lizard eats paper, paper disproves Spock, Spock vaporizes
    rock, and, as it always has, rock crushes scissors.
    <br/>
    <strong>- Sheldon</strong>
</p>
